* {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
}

.wrapper {
  margin: 0;
  width: 100vw;
  position: relative;
}

a.navbar-brand {
  margin: 0;
  letter-spacing: 2git px;
  text-transform: uppercase;
}

a {
  color: grey;
}

a:hover {
  color: #6d6565;
}

.bg-light {
  background-color: transparent;
}

.landingpage {
  background-color: white;
  height: 35vh;
  position: relative;
  width: 100vw;
}

.landingpage div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.landingpage div h4 {
  text-align: center;
  font-family: 'Yeseva One', cursive;
  letter-spacing: 1px;
}

.landingpage div h4 span {
  border-bottom: #e48f5e 10px solid;
}

.worksection {
  width: 100vw;
}

.worksection .hide {
  display: none;
}

.worksection .big {
  display: block;
}

.worksection .work {
  height: 45vh;
  min-height: 315px;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: right;
}

.worksection .work a {
  padding-right: 20px;
  color: #424242;
  text-decoration: none;
  font-size: 25px;
}

.worksection .work a:hover {
  color: #868585;
  font-size: 27px;
}

.worksection .work .work.col-md {
  padding: 0;
}

.worksection .w1 {
  background-image: url(../img/m1.png);
  background-color: white;
}

.worksection .w2 {
  background-image: url(../img/sm2.1.png);
  background-color: #FDF1CB;
  -ms-flex-line-pack: center;
      align-content: center;
}

.worksection .w3 {
  background-image: url(../img/m3.png);
  background-color: #FDF1CB;
}

.worksection .w4 {
  background-image: url(../img/m4.png);
  background-color: #CE8054;
}

.worksection .w5 {
  background-image: url(../img/m5.png);
  background-color: #FBE5BA;
}

.worksection .w6 {
  background-image: url(../img/m6.png);
  background-color: white;
}

.worksection .w7 {
  background-image: url(../img/m7.png);
  background-color: #CE8054;
}

.worksection .w8 {
  background-color: #FDF1CB;
  font-family: 'Yeseva One', cursive;
  text-align: center;
  padding: 25%;
}

.worksection .w8 div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.worksection .w8 div a {
  text-align: center;
  letter-spacing: 1px;
  border-bottom: #e48f5e 10px solid;
}

.formwrap {
  width: 80vw;
}

.footer {
  position: relative;
}

.footer .text {
  text-align: center;
  padding: 5vh;
  height: 10vh;
  letter-spacing: 1px;
}

.footer .myself {
  padding: 20px;
  text-align: center;
}

.footer .media {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50vw;
  height: 20vh;
  padding: 10%;
}

.footer .media a {
  color: #424242;
}

.footer .media a:hover {
  color: #868585;
}

.footer .make {
  text-align: center;
  letter-spacing: 1px;
  padding-right: 15px;
  color: grey;
  font-size: 10px;
  padding: 5px;
}

@media (min-width: 768px) {
  .formwrap {
    width: 40vw;
  }
  .landingpage {
    height: 45vh;
  }
  .worksection {
    min-height: 100%;
    background-color: lightcyan;
    width: 100vw;
  }
  .worksection .work {
    height: 34vh;
    padding: 0;
    background-size: contain;
  }
  .worksection .work .work.col-md {
    padding: 0;
  }
}

@media (min-width: 1200px) {
  body {
    background-color: #f8f4f4;
  }
  .wrapper {
    width: 960px;
    margin: 0 auto;
    background-color: white;
  }
  .wrapper .landingpage {
    height: 65vh;
    width: 100%;
  }
  .wrapper .landingpage div {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    /*background-color:  rgb(228, 143, 94);
                height: 15px; */
  }
  .wrapper .landingpage div h4 {
    text-align: center;
    font-family: 'Yeseva One', cursive;
    letter-spacing: 1px;
    font-size: 35px;
  }
  .wrapper .container-fluid {
    width: 960px;
  }
  .wrapper .worksection {
    min-height: 100%;
    background-color: lightcyan;
    width: 100%;
  }
  .wrapper .worksection .hide {
    display: block;
  }
  .wrapper .worksection .big {
    display: none;
  }
  .wrapper .worksection .work {
    height: 55vh;
    padding: 0;
    background-size: cover;
    margin: 0 auto;
  }
  .wrapper .worksection .work .work.col-md {
    padding: 0;
  }
  .wrapper .worksection .w1 {
    background-image: url(../img/sm1.png);
  }
  .wrapper .worksection .w2 {
    background-image: url(../img/m2.png);
  }
  .wrapper .worksection .w3 {
    background-image: url(../img/m3.png);
  }
  .wrapper .worksection .w4 {
    background-image: url(../img/m4.png);
  }
  .wrapper .worksection .w5 {
    background-image: url(../img/m5.png);
  }
  .wrapper .worksection .w6 {
    background-image: url(../img/m6.png);
  }
  .wrapper .worksection .w7 {
    background-image: url(../img/sm7.png);
  }
  .wrapper .worksection .w8 {
    padding-top: 15%;
  }
  .wrapper .footer {
    height: 45vh;
  }
  .wrapper .footer .text {
    padding-top: 50px;
    font-size: 22px;
    letter-spacing: 2px;
  }
  .wrapper .footer .make {
    text-align: right;
    letter-spacing: 1px;
    padding-right: 15px;
    color: grey;
  }
}
/*# sourceMappingURL=style.css.map */