* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    margin: 0;
    width: 100vw;
    position: relative;
}

a.navbar-brand {
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

a {
    color: grey;
}

a:hover {
    color: rgb(109, 101, 101);
}


.bg-light {
    background-color: transparent;
}

.landingpage {
    background-color: rgb(255, 255, 255);
    height: 35vh;
    position: relative;
    width: 100vw;

    div {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);


        h4 {

            text-align: center;
            font-family: 'Yeseva One', cursive;
            letter-spacing: 1px;


            span {
                border-bottom: rgb(228, 143, 94) 10px solid;
            }

        }
    }
}

.worksection {

    width: 100vw;

    .hide {
        display: none;
    }

    .big {
        display: block;
    }

    .work {
        min-height: 45vh;
        background-repeat: no-repeat;
        background-size: contain;
        text-align: right;

        a {
            padding-right: 20px;
            color: rgb(66, 66, 66);
            text-decoration: none;
            font-size: 25px;



        }

        a:hover {
            color: rgb(134, 133, 133);
            font-size: 27px;
        }

        .work.col-md {
            padding: 0;
        }
    }





    .w1 {
        background-image: url(../img/m1.png);
        background-color: white;
    }

    .w2 {
        background-image: url(../img/sm2.1.png);
        background-color: #FDF1CB;
        align-content: center;

    }

    .w3 {
        background-image: url(../img/m3.png);
        background-color: #FDF1CB;
    }

    .w4 {
        background-image: url(../img/m4.png);
        background-color: #CE8054;
    }

    .w5 {
        background-image: url(../img/m5.png);
        background-color: #FBE5BA;
    }

    .w6 {
        background-image: url(../img/m6.png);
        background-color: white;
    }

    .w7 {
        background-image: url(../img/m7.png);
        background-color: #CE8054;
    }

    .w8 {
        background-color: #FDF1CB;
        font-family: 'Yeseva One', cursive;
        text-align: center;
        padding: 25%;

        div {

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);




            a {
                text-align: center;
                letter-spacing: 1px;
                border-bottom:  rgb(228, 143, 94) 10px solid;



            }
        }

    }
}

.formwrap {
    width: 80vw;
}

.footer {

    position: relative;


    .text {
        text-align: center;
        padding: 5vh;
        height: 10vh;
        font-family: 'Yeseva One', cursive;
        letter-spacing: 1px;

    }

    .myself {
        padding: 20px;
        text-align: center;


    }

    .media {
        justify-content: space-evenly;
        width: 50vw;
        height: 20vh;
        padding: 10%;

    }
    .make{
        text-align: center; 
        letter-spacing: 1px;
        padding-right: 15px; 
        color: grey; 
        font-size: 10px; 
        
    }
}



@media (min-width: 768px) {

    .formwrap {
        width: 40vw;
    }

    .landingpage {
        height: 45vh;
    }


    .worksection {
        min-height: 100%;
        background-color: lightcyan;
        width: 100vw;


        .work {
            height: 34vh;
            padding: 0;
            background-size: contain;


            .work.col-md {
                padding: 0;
            }

        }

    }


}

@media (min-width: 1200px) {
    body {
        background-color: rgb(248, 244, 244);
    }

    .wrapper {
        width: 960px;
        margin: 0 auto;
        background-color: white;

        .landingpage {
            height: 65vh;
            width: 100%;

            div {
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color:  rgb(228, 143, 94);
                height: 15px;

                h4 {
                    margin-top: -16px;
                    text-align: center;
                    font-family: 'Yeseva One', cursive;
                    letter-spacing: 1px;
                    font-size: 28px;

                    span {
                        border-bottom: none;
                    }

                }
            }
        }

        .container-fluid {
            width: 960px;
        }

        .worksection {
            min-height: 100%;
            background-color: lightcyan;
            width: 100%;

            .hide {
                display: block;
            }

            .big {
                display: none;
            }

            .work {
                height: 55vh;
                padding: 0;
                background-size: cover;
                margin: 0 auto;

                .work.col-md {
                    padding: 0;
                }

            }

            .w1 {
                background-image: url(../img/sm1.png)
            }

            .w2 {
                background-image: url(../img/m2.png)
            }

            .w3 {
                background-image: url(../img/m3.png);
            }

            .w4 {
                background-image: url(../img/m4.png);
            }

            .w5 {
                background-image: url(../img/m5.png);
            }

            .w6 {
                background-image: url(../img/m6.png);
            }

            .w7 {
                background-image: url(../img/sm7.png);
            }

            .w8 {
                padding-top: 15%;
            }




        }

        .footer {

            height: 45vh; 

            .text {
                padding-top: 50px;
                font-size: 22px;
                letter-spacing: 2px;
            }

            .make{
                text-align: right; 
                letter-spacing: 1px;
                padding-right: 15px; 
                color: grey; 
                
            }
        }



    }


}