

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    margin: 0;
    width: 100vw;
}

a.navbar-brand {
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase; 
}

a{
    color: grey;
}

a:hover{
    color: rgb(109, 101, 101); 
}


.bg-light {
    background-color: transparent;
}

.landingpage {
    background-color: rgb(255, 236, 236);
    height: 35vh;

    position: relative;

    div {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h4 {
            text-align: center;
        }
    }
}

.worksection {
    min-height: 100%;
    background-color: lightcyan;
    width: 100vw;
    .w1{
        background-image: url(../img/frame3.png)
    }
    .w2{
        background-image: url(../img/frame4.png)
       
    
    }
    .w3{
        background-image: url(../img/Frame1.png); 
    }
    .w4{
        background-image:  url(../img/frame2.png); 
    }

    .w5{
        background-image: url(../img/frame5.png);
    }

    .w6{
        background-image: url(../img/frame6.png); 
    }

    .w7{
        background-image: url(../img/frame7.png); 
    }

    .w8{
        background-image: url(../img/frame8.png); 
    }

    .work {
        height: 50vh; 
        padding: 0;
        background-size: contain;
        .work.col-md {
            padding: 0;
        }

    }


}

.formwrap {
    width: 80vw;
}


.footer {

    position: relative;


    .text {
        text-align: center;
        padding: 5vh;
        height: 10vh;
    }

    .media {
        justify-content: space-evenly;
        width: 50vw;
        height: 20vh;
        padding: 10%;

    }
}



@media (min-width: 768px) {
    
    .formwrap {
        width: 40vw;
    }

    .landingpage{
        height: 45vh; 
    }


}

@media (min-width: 1200px) {
    body {
     background-color: whitesmoke;
    }

    .wrapper {
        width: 960px;
        margin: 0 auto;
        background-color: white; 
        .landingpage{
            height: 65vh;

            
        }
        .container-fluid {
            width: 960px;
        }

        .work {
            height: 55vh;
            padding: 0;
            background-size: contain;
            .work.col-md {
                padding: 0;
            }
    
        }
    }


}